<section class="clients">
  <div class="clients-container container">
    <h2 class="clients-section-title poppins-bold">Our Clients</h2>
    <ul class="clients-list">
      <li class="clients-list-item">
        <div class="image-wrapper"><img src="img/webp/airbnb.svg" alt="airbnb" class="clients-logo" width="159"></div>
      </li>
      <li class="clients-list-item">
        <div class="image-wrapper"><img src="img/webp/google.svg" alt="google" class="clients-logo" width="146"></div>
      </li>
      <li class="clients-list-item">
        <div class="image-wrapper"><img src="img/webp/microsoft.svg" alt="microsoft" class="clients-logo" width="213"></div>
      </li>
      <li class="clients-list-item">
        <div class="image-wrapper"><img src="img/webp/fedex.svg" alt="fedex" class="clients-logo" width="140"></div>
      </li>
    </ul>
  </div>
</section>